@model IEnumerable<Pergunta>
@{
    ViewData["Title"] = "Home";
}

<h1>Home</h1>
<img src="~/gif.gif" />
<ul>
    @foreach (var item in Model)
    {
    <li>
        <p>@item.Id</p>
        <p>@item.Autor</p>
        <p>@item.Descricao</p>
    </li>
    }
</ul>

